/*
 * Stillwell Burroughs CSS Styles
 */

/*
 * Custom Properties (Variables)
 */

:root {
	/* Fonts */
	--roboto: "Roboto", sans-serif;

	/* Color Palette */
	--black: rgb(0, 11, 19);
	--white: rgb(245, 252, 255);
	--blue: rgb(0, 225, 255);

	/* Wrappers */
	--wrapper: 1350px;
}

/*
 * CSS Reset
 */

:root {
	font-size: 16px;
	tab-size: 4;
	-moz-tab-size: 4;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	display: grid;
	min-height: 100%;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
	max-width: 100vw;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	font-family: var(--roboto);
	color: var(--black);
	margin: 0;
}

abbr[title] {
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Consolas,
		"Liberation Mono", Menlo, monospace;
	font-size: 1rem;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

hr {
	height: 0;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.5;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

legend {
	padding: 0;
}

progress {
	vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

summary {
	display: list-item;
}

/* Globals */

html,
body {
	min-width: 300px;
	background: var(--white);
}

section h2 {
	font-size: 48px;
	padding-bottom: 20px;
	line-height: 1.2;
	word-break: break-word;
}

p {
	font-size: 18px;
	color: var(--white);
	opacity: 0.8;
	padding-bottom: 14px;
}

/* Header */

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	width: 100%;
	padding: 0;
	margin: 0;
	background: var(--black);
}

.header__inner {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: var(--wrapper);
	padding: 20px;
	margin: 0 auto;
}

.header__title {
	color: var(--white);
	font-size: 28px;
	font-weight: 900;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

.header__title:hover {
	opacity: 0.8;
}

.header__nav {
	padding: 0;
	margin: 0;
}

.header__nav-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.header__nav-list-item {
	padding: 20px 26px 0 0;
	margin: 0;
}

.header__nav-list-item:last-of-type {
	padding: 20px 0 0 0;
}

.header__nav-list-item a {
	color: var(--white);
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

.header__nav-list-item a:hover {
	opacity: 0.8;
}

@media (min-width: 700px) {
	.header__inner {
		flex-direction: row;
		justify-content: space-between;
	}

	.header__title {
		font-size: 26px;
	}

	.header__nav-list-item {
		padding: 10px 30px 0 0;
	}

	.header__nav-list-item:last-of-type {
		padding: 10px 0 0 0;
	}

	.header__nav-list-item a {
		font-size: 16px;
	}
}

/* Hero */

.hero {
	display: grid;
	background: var(--black);
	width: 100%;
	min-height: 100vh;
	padding: 200px 0 100px;
	margin: 0;
}

.hero__content {
	width: calc(100% - 20px);
	margin: auto auto auto 0;
	padding: 0 0 0 20px;
}

.hero__content h1 {
	font-size: 48px;
	line-height: 1.2;
	color: var(--white);
	margin-bottom: 10px;
	word-break: break-word;
}

.hero__content p {
	padding-bottom: 50px;
	max-width: 450px;
}

.hero__content a {
	font-weight: 900;
	text-decoration: none;
	color: var(--black);
	background: var(--white);
	border-radius: 6px;
	padding: 14px 18px;
	margin: 0;
}

.hero__content a:hover {
	opacity: 0.8;
}

@media (min-width: 700px) {
	.hero {
		min-height: 90vh;
		padding: 100px 0;
	}

	.hero__content h1 {
		font-size: 52px;
		margin-bottom: 15px;
		max-width: 745px;
		word-break: normal;
	}

	.hero__content p {
		max-width: 580px;
	}
}

@media (min-width: 1000px) {
	.hero__content {
		width: 900px;
		margin: auto;
	}
}

@media (min-width: 1200px) {
	.hero__content {
		width: 1100px;
		max-width: var(--wrapper);
		margin: auto;
	}

	.hero__content h1 {
		font-size: 64px;
		margin-bottom: 20px;
		max-width: 1060px;
	}

	.hero__content p {
		max-width: 660px;
		padding-bottom: 80px;
	}

	.hero__content a {
		font-size: 20px;
	}
}

/* Services */

.services {
	display: grid;
	width: 100%;
}

.services__content {
	width: 100%;
	max-width: var(--wrapper);
	padding: 80px 20px;
	margin: 0 auto;
}

.services__cards-container {
	margin: 50px 0 0;
	width: 100%;
}

.services__card {
	width: 100%;
	max-width: 400px;
	border-radius: 8px 8px 8px 0;
	background: var(--black);
	margin: 0 auto 30px;
}

.services__card:last-of-type {
	margin: 0 auto;
}

.services__figure-image {
	width: 100%;
	height: auto;
	border-radius: 8px 8px 0 0;
}

.services__figure-caption {
	color: var(--white);
	padding: 10px 20px;
	text-align: end;
	font-weight: 600;
}

@media (min-width: 800px) {
	.services__cards-container {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
	}

	.services__card {
		flex: 1 0 25%;
		margin: 0 30px 0 0;
		max-width: 360px;
	}

	.services__card:last-of-type {
		margin: 0;
	}
}

/* About */

.about {
	display: grid;
	width: 100%;
	background: var(--black);
}

.about__content {
	max-width: var(--wrapper);
	padding: 80px 20px;
	margin: 0 auto;
}

.about__image {
	width: 100%;
	border-radius: 8px 8px 8px 0;
	height: auto;
	margin: 0 auto 30px;
}

.about__copy-wrapper {
	max-width: 420px;
}

.about__copy-wrapper h2 {
	color: var(--white);
}

@media (min-width: 800px) {
	.about__content {
		width: 100%;
		max-width: var(--wrapper);
	}

	.about__content-wrapper {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}

	.about__copy-wrapper {
		padding-left: 40px;
	}

	.about__image {
		max-width: 550px;
		margin: 0 auto;
	}
}

/* Blockchain */

.blockchain {
	display: grid;
	width: 100%;
}

.blockchain h2 {
	text-align: end;
}

.blockchain__content {
	width: 100%;
	max-width: var(--wrapper);
	padding: 80px 20px;
	margin: 0 auto;
}

.blockchain__cards-container {
	margin: 30px 0;
}

.blockchain__card {
	width: 100%;
	border-radius: 8px 8px 0 0;
	background: var(--black);
	padding: 40px;
	margin: 0 auto 30px;
}

.blockchain__card:last-of-type {
	margin: 0 auto;
}

@media (min-width: 900px) {
	.blockchain__cards-container {
		display: flex;
		justify-content: space-between;
	}

	.blockchain__card {
		flex: 1 0 45%;
		margin: 0 30px 0 0;
		max-width: 620px;
	}

	.blockchain__card:last-of-type {
		margin: 0;
	}
}

/* Contact */

.contact {
	display: grid;
	width: 100%;
	background: var(--black);
}

.contact__content {
	max-width: 495px;
	padding: 80px 20px;
	margin: 0 auto;
}

.contact__content h2 {
	color: var(--white);
}

.contact__details {
	margin: 20px 0;
	font-style: normal;
}

.contact__details p {
	display: flex;
	color: var(--white);
	font-size: 18px;
	font-weight: 700;
	line-height: 2;
	padding: 0 0 10px 0;
	margin: 0;
}

.contact__details p a {
	color: var(--white);
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	padding: 0;
	margin: auto 0;
}

.contact__details p svg {
	padding: 0;
	margin: auto 4px auto 0;
	transform: scale(0.7);
}

.contact__details p a:hover {
	opacity: 0.8;
}

@media (min-width: 400px) {
	.contact__details p a {
		font-size: 16px;
	}

	.contact__details p svg {
		margin: auto 10px auto 0;
		transform: scale(1);
	}
}

@media (min-width: 500px) {
	.contact__details p a {
		font-size: 18px;
	}
}

/* Footer */

.footer {
	width: 100%;
	padding: 0;
	margin: 0;
}

.footer__inner {
	display: flex;
	width: 100%;
	max-width: var(--wrapper);
	padding: 20px;
	margin: 0 auto;
}

.footer__inner p {
	font-weight: 600;
	color: var(--black);
	font-style: italic;
	margin: 0 auto;
}
